__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so

.direnv/
result
result-*

.mypy_cache/
.pyright/
.ruff_cache/

*.swp
*.swo
*~
.idea/
.vscode/
*.iml

pyrightconfig.json

/storeroon.toml
/data/
/output/
/reports/

.DS_Store
