__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
*.so

.direnv/
result
result-*
output

.mypy_cache/
.pyright/
.ruff_cache/

*.swp
*.swo
*~
.idea/
.vscode/
*.iml

pyrightconfig.json

storeroon.toml
data/
